#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.vehicle-list {
  display: flex;
  flex-wrap: wrap;
}

.vehicle-list * {
  text-decoration: none;
  color: white;
}

.vehicle-visualization {
  place-items: center;
}

.placeholder-3d {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #e0e0e0;
}

.maintenance-section ul li {
  list-style: none;
}

/* 
 *
 * Home Page
 *
*/
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 800px) {
  #donut-container {
      display: none;
  }
}

.home-content {
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-text {
  margin-bottom: 1.5rem;
}

.home-text h2 {
  font-size: 1.8rem;
  color: #00ffff;
  margin: 0;
}

.home-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-btns button {
  width: 160px;
  height: 40px;
  margin-bottom: 12px;
  background-color: #00ffff;
  color: #0f0f0f;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  cursor: pointer;
}

.home-btns button:hover {
  background-color: #ff00ff;
  color: #ffffff;
  box-shadow: 0 0 16px rgba(255, 0, 255, 0.6);
}

.home-btns a {
  color: #cccccc;
  font-size: 0.8rem;
  text-decoration: none;
}

.home-btns a:hover {
  color: #00ffff;
  text-decoration: underline;
}

/* 
 *
 * Forms
 *
*/
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  gap: 8px;
}

.form input {
  width: 100%;
  height: 48px;
  margin-bottom: 8px;
  border: none;
  border-radius: 8px;
  padding: 0 8px;
  background-color: rgb(37, 37, 37);
  font-size: 1rem;
  outline: none;
}

.form button {
  width: 160px;
  height: 40px;
  color: black;
  background-color: #00ffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
}

.form button:hover {
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.form-footer {
  font-size: 0.8rem;
}