.navbar {
  height: 80px;
}

.navbar-items {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: grid;
  place-content: center;
  text-decoration: none;
}

#logo h2 {
  font-size: 1.5rem;
  color: #00ffff;
}

#menu-icon {
  height: 24px;
  cursor: pointer;
}

.menu-wrapper {
  position: relative;
}

.dropdown-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 140px;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 8px 8px 0 8px;
  background: rgba(32, 32, 32);
  border: 1px solid #007070;
  border-radius: 8px;
}

.dropdown-menu a {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  cursor: pointer;
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

#menu-first-item {
  margin-bottom: 8px;
}